.card{
    margin: 20px;
    padding: 10px;
    border-radius: 16px;
    border: solid 0.5px rgb(102, 94, 79);
    width: 300px;
    min-height: 500px;
    height:100%;
    cursor: grab;
    box-shadow: 0px 0 10px ;
    background-color: #626e85;
    transition-property: background-color;
    transition-duration: 0.2s;
  }
  .card:first-child{
    margin-left: 0px;
  }
  .card:last-child{
   margin-right: 0px;
  }