.tasks{
    width: 270px;
    /* height: 100px; */
    margin: 5px;
    padding: 5px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgb(161, 118, 54); */
  }
  
  .task{
    width: 100%;
    min-height: 100px;
    margin: 10px 0;
    border-radius: 16px;
    background-color: white;
    cursor: grab;
  }