.boards{
  margin: 0 auto;
  padding: 0;
  width: 95vw;
  display: flex;
  justify-content: center;
  

}
.container{
  padding: 20px;
  margin: 0 auto;
  height: 90vw;
  min-height: calc(100vh - 90px);
  max-width: 90%;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
 


}
